title{
    font-family: "Palatino Linotype", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}

.body{
  font-family: "Helvetica", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.body_index{
    background: linear-gradient(to right, #C33764, #1D2671);
}

.body_portfolio{
    background: linear-gradient(to right, #acb6e5, #86fde8);
}

.body_qual{
    background: linear-gradient(to right, #FCCF31, #F55555);
}

.body_service{
    background: linear-gradient(to right, #C2FFD8, #3677FF);
}

span{
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    font-weight: bold;
    font-size: 6vw;
    font-family:"Helvetica", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4{
  font-weight: bold;
  margin-top: 1em;
}

h1{
  font-size: 36px;
  font-family: "Palatino Linotype", sans-serif;
  margin-top: 0;
}

h2{
  font-size: 30px;
  font-family: "Palatino Linotype", sans-serif;;
}

h3{
  font-size: 24px;
  font-family: "Palatino Linotype", sans-serif;;
}

h4{
  font-size: 18px;
  font-family: "Palatino Linotype", sans-serif;
}

a{
  color: #003c71;
  padding-top: 10%;
  padding-left: 5%;
  padding-right:5%;
}

a:hover{
  color: #FFFF;
  text-decoration: underline;
}

p{
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Helvetica", 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

img{
  max-width: 50%;
  height: auto;
}

.button{
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button_index{
  background-image: linear-gradient(to right, #E8D07A, #5312D6);
}

.button_index:hover{
  background-image: linear-gradient(to right, #5312D6, #E8D07A);
}

.button_portfolio{
  background-image: linear-gradient(to right, #1D6FA3, #65FDF0);
}

.button_portfolio:hover{
  background-image: linear-gradient(to right, #65FDF0, #1D6FA3);
}

.button_service{
  background-image: linear-gradient(to right, #81FFEF, #F067B4);
}

.button_service:hover{
  background-image: linear-gradient(to right, #F067B4, #81FFEF);
}

.button_qual{
  background-image: linear-gradient(to right, #FDD819, #E80505);
}

.button_qual:hover{
  background-image: linear-gradient(to right,#E80505, #FDD819);
}

.column_links{
  width: 20%;
  float: left;
  padding: auto+10px;
}

.container{
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}

.nav{
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.nav a{
  justify-content: center;
  text-align: center;
  padding: 30px;
  color: #003c71;
}

.nav a:hover{
  color: #FFFF;
  transition: all 0.3s ease-in-out;
}